<%= render "shared/navbar" %>

<div class="container">
  <h1>Shops</h1>

    <div class="row">
      <% @shops.each do |shop| %>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <div class="card">
            <%= link_to shop_path(shop) do %>
              <% if shop.picture.present? %>
                <%= image_tag(shop.picture, class: "card-img-top", alt: shop.name, style: "height: 400px; width: 100%; object-fit: cover;") %>
              <% else %>
                <%= image_tag("default_shop_image.jpg", class: "card-img-top", alt: shop.name, style: "height: 560px; width: 100%; object-fit: cover;") %>
              <% end %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= shop.name %></h5>
              <p class="card-text"><%= shop.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>


  <%= link_to "New Shop", new_shop_path %>

  <%= render "shared/footer" %>
</div>
