<%= render "shared/navbar" %>

<div class="container">

    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <div class="row">
      <% @shops.each do |shop| %>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <div class="card">
            <%= link_to shop_path(shop) do %>
              <% if shop.picture.present? %>
                <%= image_tag(shop.picture, class: "card-img-top", alt: shop.name, style: "height: 400px; width: 100%; object-fit: cover;") %>
              <% else %>
                <%= image_tag("default_shop_image.jpg", class: "card-img-top", alt: shop.name, style: "height: 560px; width: 100%; object-fit: cover;") %>
              <% end %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= shop.name %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>


    <%= link_to "New Shop", new_shop_path %>

    <div class="col-12 mb-4">
    <div class="card">
      <div class="card-img-top bg-image position-relative" style="background-image: url('https://res.cloudinary.com/difj9msh3/image/upload/v1695482490/IMG_3723_auprlk.jpg'); background-size: cover; height: 560px;">
        <h5 class="card-title position-absolute start-0 top-0 p-2 text-light bg-dark">The Angel Shop</h5>
      </div>
      <div class="card-body">
        <div class="card-footer">
          <p class="card-text text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <a href="<%= shops_path %>" class="btn btn-primary position-absolute bottom-0 end-0 mb-2 me-4">Visit Shop</a>
        </div>
      </div>
    </div>
    </div>

    <div class="col-12 mb-4">
    <div class="card">
      <div class="card-img-top bg-image position-relative" style="background-image: url('https://res.cloudinary.com/difj9msh3/image/upload/v1695482490/IMG_3723_auprlk.jpg'); background-size: cover; height: 560px;">
        <h5 class="card-title position-absolute start-0 top-0 p-2 text-light bg-dark">The Angel Shop</h5>
      </div>
      <div class="card-body">
        <div class="card-footer">
          <p class="card-text text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <a href="<%= shops_path %>" class="btn btn-primary position-absolute bottom-0 end-0 mb-2 me-4">Visit Shop</a>
        </div>
      </div>
    </div>
    </div>

  <%= render "shared/footer" %>
</div>
